### 1. Print Summary of transaction data set

In [8]:
import pandas as pd
df=pd.read_csv('transactions.csv')
print(df)
print(df.describe())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

###  2 Print Numbers of Attributes

In [6]:
numofcolumns=df.shape[1]
print(numofcolumns)

5

### 3. Print Numbers of Records

In [9]:
numofrows=df.shape[0]
print(numofrows)

10

### 4. Get the row names(index)

In [10]:
rowsname=df.index.tolist()
print("row namees",rowsname)

row namees [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 5. Get the column names

In [11]:
colsname=df.columns.tolist()
print("columns name:",colsname)

columns name: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

###  6.View top 10 Records

In [13]:
rows=df.head(10)
print(rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

### 7.Change the name of column “ Quantity” to “Quant”

In [15]:
df.rename(columns={"Quantity":'Quant'},inplace=True)
df

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

### 8.Change the name of columns ProductID and UserID

In [16]:
df.rename(columns={'ProductID':'UserID'},inplace=True)
df

   TransactionID TransactionDate  UserID  UserID  Quant
0              1      2010-08-21     7.0       2      1
1              2      2011-05-26     3.0       4      1
2              3      2011-06-16     3.0       3      1
3              4      2012-08-26     1.0       2      3
4              5      2013-06-06     2.0       4      1
5              6      2013-12-23     2.0       5      6
6              7      2013-12-30     3.0       4      1
7              8      2014-04-24     NaN       2      3
8              9      2015-04-24     7.0       4      3
9             10      2016-05-08     3.0       4      4

### 9. Order the rows of transactions by TransactionId
descending, if ascending then ascending=True

In [21]:
df.sort_values(by='TransactionID',ascending=True)

   TransactionID TransactionDate  UserID  UserID  Quant
0              1      2010-08-21     7.0       2      1
1              2      2011-05-26     3.0       4      1
2              3      2011-06-16     3.0       3      1
3              4      2012-08-26     1.0       2      3
4              5      2013-06-06     2.0       4      1
5              6      2013-12-23     2.0       5      6
6              7      2013-12-30     3.0       4      1
7              8      2014-04-24     NaN       2      3
8              9      2015-04-24     7.0       4      3
9             10      2016-05-08     3.0       4      4