In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [5]:
df.describe(include='all')

        TransactionID TransactionDate    UserID  ProductID   Quantity
count        10.00000              10  9.000000  10.000000  10.000000
unique            NaN              10       NaN        NaN        NaN
top               NaN      2010-08-21       NaN        NaN        NaN
freq              NaN               1       NaN        NaN        NaN
mean          5.50000             NaN  3.444444   3.400000   2.400000
std           3.02765             NaN  2.127858   1.074968   1.712698
min           1.00000             NaN  1.000000   2.000000   1.000000
25%           3.25000             NaN  2.000000   2.250000   1.000000
50%           5.50000             NaN  3.000000   4.000000   2.000000
75%           7.75000             NaN  3.000000   4.000000   3.000000
max          10.00000             NaN  7.000000   5.000000   6.000000

In [6]:
print(df.shape[0])

10

In [7]:
print(df.shape[1])

5

In [8]:
print('column names')
print(df.columns)

column names
Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [9]:
# 4. Get the row names (index)
print("\nRow names (indices):")
print(df.index)

Row names (indices):
RangeIndex(start=0, stop=10, step=1)

In [10]:
df.head(10)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [11]:
df.rename(columns={'Quantity':'Quant'},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [12]:
df.rename(columns={'UserID':'UID','ProductID':'PID'},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [13]:
df.sort_values(by=['TransactionID'],ascending=True)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [14]:
df.sort_values(by=['TransactionDate','Quant'],ascending=[False,True])

   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6
4              5      2013-06-06  2.0    4      1
3              4      2012-08-26  1.0    2      3
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [15]:
df[['PID','Quant','TransactionDate','TransactionID','UID']]

   PID  Quant TransactionDate  TransactionID  UID
0    2      1      2010-08-21              1  7.0
1    4      1      2011-05-26              2  3.0
2    3      1      2011-06-16              3  3.0
3    2      3      2012-08-26              4  1.0
4    4      1      2013-06-06              5  2.0
5    5      6      2013-12-23              6  2.0
6    4      1      2013-12-30              7  3.0
7    2      3      2014-04-24              8  NaN
8    4      3      2015-04-24              9  7.0
9    4      4      2016-05-08             10  3.0

In [16]:
df=df[['PID']+[cols for cols in df.columns if cols!='PID']]
df

   PID  TransactionID TransactionDate  UID  Quant
0    2              1      2010-08-21  7.0      1
1    4              2      2011-05-26  3.0      1
2    3              3      2011-06-16  3.0      1
3    2              4      2012-08-26  1.0      3
4    4              5      2013-06-06  2.0      1
5    5              6      2013-12-23  2.0      6
6    4              7      2013-12-30  3.0      1
7    2              8      2014-04-24  NaN      3
8    4              9      2015-04-24  7.0      3
9    4             10      2016-05-08  3.0      4

In [17]:
df.iloc[:,1]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: TransactionID, dtype: int64

In [18]:
df['PID'].values

array([2, 4, 3, 2, 4, 5, 4, 2, 4, 4], dtype=int64)

In [19]:
subset_rows=df.iloc[[1,3,6]]
print(subset_rows)

   PID  TransactionID TransactionDate  UID  Quant
1    4              2      2011-05-26  3.0      1
3    2              4      2012-08-26  1.0      3
6    4              7      2013-12-30  3.0      1

In [20]:
subset_exclude=df.drop([1,3,6])
print(subset_exclude)

   PID  TransactionID TransactionDate  UID  Quant
0    2              1      2010-08-21  7.0      1
2    3              3      2011-06-16  3.0      1
4    4              5      2013-06-06  2.0      1
5    5              6      2013-12-23  2.0      6
7    2              8      2014-04-24  NaN      3
8    4              9      2015-04-24  7.0      3
9    4             10      2016-05-08  3.0      4

In [21]:
first_3=df.iloc[:3]
print(first_3)

   PID  TransactionID TransactionDate  UID  Quant
0    2              1      2010-08-21  7.0      1
1    4              2      2011-05-26  3.0      1
2    3              3      2011-06-16  3.0      1

In [22]:
last_two=df.iloc[-2:]
print(last_two)

   PID  TransactionID TransactionDate  UID  Quant
8    4              9      2015-04-24  7.0      3
9    4             10      2016-05-08  3.0      4

In [23]:
exclude_last_two=df.iloc[:-2]
print(exclude_last_two)

   PID  TransactionID TransactionDate  UID  Quant
0    2              1      2010-08-21  7.0      1
1    4              2      2011-05-26  3.0      1
2    3              3      2011-06-16  3.0      1
3    2              4      2012-08-26  1.0      3
4    4              5      2013-06-06  2.0      1
5    5              6      2013-12-23  2.0      6
6    4              7      2013-12-30  3.0      1
7    2              8      2014-04-24  NaN      3

In [24]:
exclude_first_three=df.iloc[3:]
print(exclude_first_three)

   PID  TransactionID TransactionDate  UID  Quant
3    2              4      2012-08-26  1.0      3
4    4              5      2013-06-06  2.0      1
5    5              6      2013-12-23  2.0      6
6    4              7      2013-12-30  3.0      1
7    2              8      2014-04-24  NaN      3
8    4              9      2015-04-24  7.0      3
9    4             10      2016-05-08  3.0      4

In [25]:
subset_quantity=df[df['Quant']>1]
print(subset_quantity)

   PID  TransactionID TransactionDate  UID  Quant
3    2              4      2012-08-26  1.0      3
5    5              6      2013-12-23  2.0      6
7    2              8      2014-04-24  NaN      3
8    4              9      2015-04-24  7.0      3
9    4             10      2016-05-08  3.0      4

In [26]:
subset_UserID=df[df["UID"]==2]
print(subset_UserID)

   PID  TransactionID TransactionDate  UID  Quant
4    4              5      2013-06-06  2.0      1
5    5              6      2013-12-23  2.0      6

In [27]:
subset_rows=df[(df['Quant']>1) & (df['UID']==2)]
print(subset_rows)

   PID  TransactionID TransactionDate  UID  Quant
5    5              6      2013-12-23  2.0      6

In [28]:
subset_rows=df[(df['Quant'])+(df['UID'])>4]
print(subset_rows)

   PID  TransactionID TransactionDate  UID  Quant
0    2              1      2010-08-21  7.0      1
5    5              6      2013-12-23  2.0      6
8    4              9      2015-04-24  7.0      3
9    4             10      2016-05-08  3.0      4

In [29]:
foo=[True,False,True,False,True,False,True,False,True,False]
print(df[foo])

   PID  TransactionID TransactionDate  UID  Quant
0    2              1      2010-08-21  7.0      1
2    3              3      2011-06-16  3.0      1
4    4              5      2013-06-06  2.0      1
6    4              7      2013-12-30  3.0      1
8    4              9      2015-04-24  7.0      3

In [30]:
bar=np.array([2,3,-2,0,7,4,-1,-5,9,0])
filter_bar=df[bar>0]
print(filter_bar)

   PID  TransactionID TransactionDate  UID  Quant
0    2              1      2010-08-21  7.0      1
1    4              2      2011-05-26  3.0      1
4    4              5      2013-06-06  2.0      1
5    5              6      2013-12-23  2.0      6
8    4              9      2015-04-24  7.0      3

In [31]:
foo=[True,False,True,False,True,False,True,False,True,False]
bar=np.array([2,3,-2,0,7,4,-1,-5,9,0])
filtered=df[np.array(foo)==True | (bar<0)]
filtered_2=df[np.array(foo)!=True & (bar>0)]
print(filtered)
print(filtered_2)

   PID  TransactionID TransactionDate  UID  Quant
0    2              1      2010-08-21  7.0      1
2    3              3      2011-06-16  3.0      1
4    4              5      2013-06-06  2.0      1
6    4              7      2013-12-30  3.0      1
8    4              9      2015-04-24  7.0      3
   PID  TransactionID TransactionDate  UID  Quant
1    4              2      2011-05-26  3.0      1
2    3              3      2011-06-16  3.0      1
5    5              6      2013-12-23  2.0      6
6    4              7      2013-12-30  3.0      1

In [32]:
subset_columns=df.iloc[:,[1,3]]
print(subset_columns)

   TransactionID  UID
0              1  7.0
1              2  3.0
2              3  3.0
3              4  1.0
4              5  2.0
5              6  2.0
6              7  3.0
7              8  NaN
8              9  7.0
9             10  3.0

In [33]:
subset_columns_2=df[['TransactionID','TransactionDate']]
print(subset_columns_2)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [34]:
filtered=df[(df['TransactionID']>1) & (df['TransactionDate']>'2010-08-21')]
filtered_2=df[(df['TransactionID']>3)][['TransactionID','TransactionDate']]
print(filtered[['TransactionID','TransactionDate']])
print(filtered_2)

   TransactionID TransactionDate
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08
   TransactionID TransactionDate
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [35]:
list=['TransactionID','TransactionDate']
print(df[list])

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [36]:
list=['TransactionID','TransactionDate']
exclude_coluumn=[cols for cols in df.columns if cols not in list]
print(df[exclude_coluumn])

   PID  UID  Quant
0    2  7.0      1
1    4  3.0      1
2    3  3.0      1
3    2  1.0      3
4    4  2.0      1
5    5  2.0      6
6    4  3.0      1
7    2  NaN      3
8    4  7.0      3
9    4  3.0      4

In [37]:
df.loc[len(df)]=['new_PID','newTransactionID','newTransactionDate','newUID','newQuant','newfoo']
df.loc[df['PID']=='new_PID','Quant']=2
df.loc[df['foo']=='newfoo','TransactionID']=10
print(df)

ValueError: cannot set a row with mismatched columns

In [ ]:
df['TransactionDate']=pd.to_datetime(df['TransactionDate'])
print(df['TransactionDate'].dtypes)

datetime64[ns]

In [ ]:
df.dropna(inplace=True)

In [ ]:
df['foo']=df['UID']+df['PID']
print(df)

   PID  TransactionID TransactionDate  UID  Quant   foo
0    2              1      2010-08-21  7.0      1   9.0
1    4              2      2011-05-26  3.0      1   7.0
2    3              3      2011-06-16  3.0      1   6.0
3    2              4      2012-08-26  1.0      3   3.0
4    4              5      2013-06-06  2.0      1   6.0
5    5              6      2013-12-23  2.0      6   7.0
6    4              7      2013-12-30  3.0      1   7.0
8    4              9      2015-04-24  7.0      3  11.0
9    4             10      2016-05-08  3.0      4   7.0

In [ ]:
df

       PID     TransactionID      TransactionDate     UID     Quant     foo
0        2                 1  2010-08-21 00:00:00     7.0         1     9.0
1        4                 2  2011-05-26 00:00:00     3.0         1     7.0
2        3                 3  2011-06-16 00:00:00     3.0         1     6.0
3        2                 4  2012-08-26 00:00:00     1.0         3     3.0
4        4                 5  2013-06-06 00:00:00     2.0         1     6.0
5        5                 6  2013-12-23 00:00:00     2.0         6     7.0
6        4                 7  2013-12-30 00:00:00     3.0         1     7.0
8        4                 9  2015-04-24 00:00:00     7.0         3    11.0
9  new_PID  newTransactionID   newTransactionDate  newUID  newQuant  newfoo