creating a series

In [1]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

#creating a DataFrame

In [65]:
data = {
 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'City': ['New York', 'Los Angeles', 'Chicago']
}
dff = pd.DataFrame(data)
print(dff)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Reading Data from Files

In [7]:
df=pd.read_csv("transactions.csv")
print(df.head(5))
print(df.tail(2))
print(df.info())
print(df.describe())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None
       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [8]:
print(df['UserID'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [15]:
print(df)
print(df.iloc[4])

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
TransactionID               5
TransactionDate    2013-06-06
UserID                    2.0
ProductID                   4
Quantity                    1
Name: 4, dtype: object

Filtering Data

In [24]:
filtered_df=dff[dff['Age']>30]
print(filtered_df)

      Name  Age     City
2  Charlie   35  Chicago

Renaming Columns

In [40]:
df.rename(columns={"Quaantitys":"Quantity"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

Handling Missing Data

In [41]:
print(df)
print(df.isnull().sum())
print(dff['Age'].fillna(dff['Age'].mean(), inplace=True))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64
None

C:\Users\anike\AppData\Local\Temp\ipykernel_12680\1380481835.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  print(dff['Age'].fillna(dff['Age'].mean(), inplace=True))

#The rows of transactions by Quantity ascending,
TransactionDate descending

In [44]:
pdf=df.sort_values(by=['Quantity','TransactionDate'],ascending=[True,False])
print(pdf)

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

### Subsetting data

In [50]:
df=df[(df['Quantity']>1) & (df['ProductID']>4)]
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

subset rows

In [58]:
subset_rows = pdf.iloc[[0, 2, 5]]
pdf

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

### Subset rows where an external array, foo, is True

In [67]:
foo=[True,False,True]
df=dff[foo]
print(df.head())

      Name  Age      City
0    Alice   25  New York
2  Charlie   35   Chicago

In [69]:
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = pdf[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
6              7      2013-12-30
4              5      2013-06-06
2              3      2011-06-16
1              2      2011-05-26
0              1      2010-08-21
8              9      2015-04-24
7              8      2014-04-24
3              4      2012-08-26
9             10      2016-05-08
5              6      2013-12-23

In [71]:
columns_to_exclude = ['Name', 'Age']
subset_columns_excluded = df[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

       City
0  New York
2   Chicago