In [2]:
import pandas as pd
data=[10,20,30,40]
values=pd.Series(data)
print(values)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
dataframe={
    'name':['Alice','Bob','ramu'],
    'age':[10,20,30],
    'city':['tanoor','nirmal','bhainsa']
}
df=pd.DataFrame(dataframe)
print(df)

    name  age     city
0  Alice   10   tanoor
1    Bob   20   nirmal
2   ramu   30  bhainsa

In [4]:
df=pd.read_csv('transactions.csv')
df.tail()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes

In [5]:
# df['Quantity']
print(df[['ProductID','Quantity']])
print(df)
(df.iloc[1])

   ProductID  Quantity
0          2         1
1          4         1
2          3         1
3          2         3
4          4         1
5          5         6
6          4         1
7          2         3
8          4         3
9          4         4
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [6]:
# sort_values=df.sort_values(by=['Quantity','UserID'],ascending=[True,False])
sort_values=df.sort_values(by=['TransactionDate','Quantity'],ascending=[True,False])
print(sort_values)
fill_name=df['UserID'].fillna(df["UserID"].mean(),inplace=False)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [7]:
drop=df.dropna()
print(drop)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [8]:
fill=df.fillna(df['Quantity'].mean())
print(fill)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     2.4          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [9]:
sort_values=df.sort_values(by=['TransactionID','Quantity'],ascending=[True,False])
print(sort_values)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [10]:
# df.rename(columns={'Quality':'Quantity'},inplace=True)
df_sorted=df.sort_values(by=['TransactionDate','Quantity'],ascending=[True,False])
df.dropna(inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [11]:
df_quantity=df[df['Quantity']>1]
print(df_quantity)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [12]:
df_rows=df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    9 non-null      int64
 1   TransactionDate  9 non-null      object
 2   UserID           9 non-null      float64
 3   ProductID        9 non-null      int64
 4   Quantity         9 non-null      int64
dtypes: float64(1), int64(3), object(1)
memory usage: 432.0+ bytes
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [13]:
foo=[True,False,True,False,True,False,True,False,True]
subset_foo=df[foo]
print(subset_foo)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
9             10      2016-05-08     3.0          4         4

In [14]:
columns_exclude=df[[cols for cols in df.columns if cols in ['ProductID','Quantity']]]
print(columns_exclude)

   ProductID  Quantity
0          2         1
1          4         1
2          3         1
3          2         3
4          4         1
5          5         6
6          4         1
8          4         3
9          4         4

In [15]:
df['TransactionDate']=pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [16]:
df['foo']=df['Quantity']+df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  foo
0              1      2010-08-21     7.0          2         1    3
1              2      2011-05-26     3.0          4         1    5
2              3      2011-06-16     3.0          3         1    4
3              4      2012-08-26     1.0          2         3    5
4              5      2013-06-06     2.0          4         1    5

In [17]:
df.drop('foo',axis=1,inplace=True)

In [18]:
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [19]:
df.loc[len(df)]=['newTransactionID','newTransactionDate','NewUserid',"NewProductId",'newQuantity']

C:\Users\anike\AppData\Local\Temp\ipykernel_11416\223588266.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'newTransactionID' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[len(df)]=['newTransactionID','newTransactionDate','NewUserid',"NewProductId",'newQuantity']
C:\Users\anike\AppData\Local\Temp\ipykernel_11416\223588266.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'newTransactionDate' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.loc[len(df)]=['newTransactionID','newTransactionDate','NewUserid',"NewProductId",'newQuantity']
C:\Users\anike\AppData\Local\Temp\ipykernel_11416\223588266.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NewUserid' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[len(df)]=['newTransactionID','newTransactionDate','NewUserid',"NewProductId",'newQuantity']
C:\Users\anike\AppData\Local\Temp\ipykernel_11416\223588266.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NewProductId' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[len(df)]=['newTransactionID','newTransactionDate','NewUserid',"NewProductId",'newQuantity']
C:\Users\anike\AppData\Local\Temp\ipykernel_11416\223588266.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'newQuantity' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[len(df)]=['newTransactionID','newTransactionDate','NewUserid',"NewProductId",'newQuantity']

In [20]:
df

      TransactionID      TransactionDate     UserID     ProductID     Quantity
0                 1  2010-08-21 00:00:00        7.0             2            1
1                 2  2011-05-26 00:00:00        3.0             4            1
2                 3  2011-06-16 00:00:00        3.0             3            1
3                 4  2012-08-26 00:00:00        1.0             2            3
4                 5  2013-06-06 00:00:00        2.0             4            1
5                 6  2013-12-23 00:00:00        2.0             5            6
6                 7  2013-12-30 00:00:00        3.0             4            1
8                 9  2015-04-24 00:00:00        7.0             4            3
9  newTransactionID   newTransactionDate  NewUserid  NewProductId  newQuantity

In [21]:
df.loc[df['UserID'] == 2, 'Quantity'] = 9
df

      TransactionID      TransactionDate     UserID     ProductID     Quantity
0                 1  2010-08-21 00:00:00        7.0             2            1
1                 2  2011-05-26 00:00:00        3.0             4            1
2                 3  2011-06-16 00:00:00        3.0             3            1
3                 4  2012-08-26 00:00:00        1.0             2            3
4                 5  2013-06-06 00:00:00        2.0             4            9
5                 6  2013-12-23 00:00:00        2.0             5            9
6                 7  2013-12-30 00:00:00        3.0             4            1
8                 9  2015-04-24 00:00:00        7.0             4            3
9  newTransactionID   newTransactionDate  NewUserid  NewProductId  newQuantity