In [1]:
import pandas as pd
df=pd.read_csv('tvmarketing.csv')

In [2]:
df.head()

      TV  Sales
0  230.1   22.1
1   44.5   10.4
2   17.2    9.3
3  151.5   18.5
4  180.8   12.9

In [7]:
print(df.dtypes)

TV       float64
Sales    float64
dtype: object

In [8]:
print(df.shape)

(200, 2)