In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

df=pd.read_csv('Car_sales.csv')
print(df)

      Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0      Passenger               21.5         1.8        140     101.2  67.3
1      Passenger               28.4         3.2        225     108.1  70.3
2      Passenger                  .         3.2        225     106.9  70.6
3      Passenger                 42         3.5        210     114.6  71.4
4      Passenger              23.99         1.8        150     102.6  68.2
..           ...                ...         ...        ...       ...   ...
152    Passenger               24.4         1.9        160     100.5  67.6
153    Passenger               27.5         2.4        168     104.9  69.3
154    Passenger               28.8         2.4        168     104.9  69.3
155    Passenger               45.5         2.3        236     104.9  71.5
156    Passenger                 36         2.9        201     109.9  72.1

    Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0    172.4       2.639          13.2              28      2-Feb-14
1    192.9       3.517          17.2              25      6-Mar-15
2      192        3.47          17.2              26      1-Apr-14
3    196.6        3.85            18              22      3-Oct-15
4      178       2.998          16.4              27     10-Aug-15
..     ...         ...           ...             ...           ...
152  176.6       3.042          15.8              25     21-Sep-15
153  185.9       3.208          17.9              25     24-Nov-14
154  186.2       3.259          17.9              25     25-Jun-15
155  185.7       3.601          18.5              23     26-Apr-15
156  189.8         3.6          21.1              24     14-Nov-15

[157 rows x 15 columns]

### 1. Read top five values

In [6]:
df.head()

,Manufacturer,Model,Sales in thousands,4-year resale value,Vehicle type,Price in thousands,Engine size,Horsepower,Wheelbase,Width,Length,Curb weight,Fuel capacity,Fuel efficiency,Latest Launch
0,Acura,Integra,16.919,16.36,Passenger,21.5,1.8,140,101.2,67.3,172.4,2.639,13.2,28,2-Feb-14
1,Acura,TL,39.384,19.875,Passenger,28.4,3.2,225,108.1,70.3,192.9,3.517,17.2,25,6-Mar-15
2,Acura,CL,14.114,18.225,Passenger,.,3.2,225,106.9,70.6,192,3.47,17.2,26,1-Apr-14
3,Acura,RL,8.588,29.725,Passenger,42,3.5,210,114.6,71.4,196.6,3.85,18,22,3-Oct-15
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150,102.6,68.2,178,2.998,16.4,27,10-Aug-15

### 2. Print dataframe info_data types of each column

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         157 non-null    object
 1   Model                157 non-null    object
 2   Sales in thousands   157 non-null    float64
 3   4-year resale value  157 non-null    object
 4   Vehicle type         157 non-null    object
 5   Price in thousands   157 non-null    object
 6   Engine size          157 non-null    object
 7   Horsepower           157 non-null    object
 8   Wheelbase            157 non-null    object
 9   Width                157 non-null    object
 10  Length               157 non-null    object
 11  Curb weight          157 non-null    object
 12  Fuel capacity        157 non-null    object
 13  Fuel efficiency      157 non-null    object
 14  Latest Launch        157 non-null    object
dtypes: float64(1), object(14)
memory usage: 18.5+ KB

In [12]:
num_row,num_column=df.shape
print(num_row)
print(num_column)

157
15

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
num_row,num_column=df.shape
print(num_row)
print(num_column)

157
15

In [16]:
df.describe

<bound method NDFrame.describe of       Manufacturer              Model  Sales in thousands 4-year resale value  \
0    Acura          Integra                        16.919               16.36
1    Acura          TL                             39.384              19.875
2    Acura          CL                             14.114              18.225
3    Acura          RL                              8.588              29.725
4    Audi           A4                             20.397              22.255
..             ...                ...                 ...                 ...
152  Volvo          V40                             3.545                   .
153  Volvo          S70                            15.245                   .
154  Volvo          V70                            17.531                   .
155  Volvo          C70                             3.493                   .
156  Volvo          S80                            18.969                   .

    Vehicle type Price in thousands Engine size Horsepower Wheelbase Width  \
0      Passenger               21.5         1.8        140     101.2  67.3
1      Passenger               28.4         3.2        225     108.1  70.3
2      Passenger                  .         3.2        225     106.9  70.6
3      Passenger                 42         3.5        210     114.6  71.4
4      Passenger              23.99         1.8        150     102.6  68.2
..           ...                ...         ...        ...       ...   ...
152    Passenger               24.4         1.9        160     100.5  67.6
153    Passenger               27.5         2.4        168     104.9  69.3
154    Passenger               28.8         2.4        168     104.9  69.3
155    Passenger               45.5         2.3        236     104.9  71.5
156    Passenger                 36         2.9        201     109.9  72.1

    Length Curb weight Fuel capacity Fuel efficiency Latest Launch
0    172.4       2.639          13.2              28      2-Feb-14
1    192.9       3.517          17.2              25      6-Mar-15
2      192        3.47          17.2              26      1-Apr-14
3    196.6        3.85            18              22      3-Oct-15
4      178       2.998          16.4              27     10-Aug-15
..     ...         ...           ...             ...           ...
152  176.6       3.042          15.8              25     21-Sep-15
153  185.9       3.208          17.9              25     24-Nov-14
154  186.2       3.259          17.9              25     25-Jun-15
155  185.7       3.601          18.5              23     26-Apr-15
156  189.8         3.6          21.1              24     14-Nov-15

[157 rows x 15 columns]>

In [ ]:
df['HorsePower']=df['Horsepower']

In [22]:
def find_min_max(df,column):
    min_val=df['column'].min()
    max_val=df['column'].max()

    min_row=df[df['column']].min()
    max_row=df[df['column']].max()

    return min_val,max_val,min_row,max_row

hp_min,hp_max,hp_row,min,hp_row_max=(df,'Horsepower')
print(hp_min)

ValueError: not enough values to unpack (expected 5, got 2)